/* feuille de style pour le site
Auteur : Mathieu Mangeot
*/
*{
  background-color: #f8f5ef;
}
body {
  font-family: "Lucida Grande",Tahoma,Helvetica,sans-serif;
  color: #484748;
}
a{
  color: #363436;
}
header {
  display: block;
  text-align: center;
  background-color: #f8f5ef;
}
header div{
  background-color: #f8f5ef;
  border-radius: 10px;
  height: 10%;
}
header div h1{
  padding-top: 25px;
}

header fieldset, header fieldset legend {
  border: 5px solid yellow;
}

header nav {
  display:block;
  padding-top: 30px;
}
.separation{
  clear: both;
	position: absolute;
	margin-top :10px;
	margin-left: 250px;
	height: 200px;
	width : 5px;
	background: black;
}

#content{
  background-color: #f8f5ef;
}


#menuprincipal ul {padding: 50px; padding: 0;
	list-style-type: none; list-style-image: none;
  background-color: #f8f5ef;
  padding-bottom: 2%;
 }
#menuprincipal li {display: inline; }
#menuprincipal ul li a {text-decoration:none;
  margin: 4px;
	padding: 5px 20px 5px 20px; color: #363436;
	background: #d3cdc5;
  letter-spacing: 4px;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 20px;
  margin-right: 1%;
}
#menuprincipal ul li a:hover {color: #255784;
background: #9F907F;
box-shadow: 0 0 5px #9F907F, 0 0 10px #9F907F, 0 0 20px #9F907F;
transition-delay: 0.1s; }
#menuprincipal ul li a:focus {color: #484748;
  	background: #B9B7A7; }

#legendemenuprincipal  {
  float:left;
}

fieldset {
  margin: 10px;
  border: none;
}
fieldset, legend {
    background-color: #f8f5ef;
    border-radius: 10px;
    }
legend {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: 1em;
    text-shadow: #fff 1px 1px 1px;
  }

#fieldsetcontent, #fieldsetcontent fieldset, #fieldsetcontent legend, .post, .entry fieldset,  .entry legend{
}

#content {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#fieldsetsidebar, #fieldsetsidebar legend {
  border:none;
  width: 27%;
}

footer fieldset, footer fieldset legend {
  border: 1px solid;
}

footer {
  display: block;
  text-align: center;
  border: none;
  background-color: none;

}
